<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Police Department</title>
    <!-- Custom fonts for this template-->
    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Theme/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-lg-5 static-top shadow">
                    <div class="navbar-expand-md">
                        <a href="~/Home/Index">
                            <span>
                                <img src="~/Theme/img/i3-5.gif" height="65" width="65" />
                            </span>
                        </a>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @*<span class="mr-2 d-none d-lg-inline text-dark">Douglas McGee</span>*@
                                <img class="img-profile rounded-circle"
                                     src="~/Theme/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Account/Login" @*data-toggle="modal" data-target="#loginModal"*@>
                                    <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                                    Log in
                                </a>
                                <a class="dropdown-item" href="/Account/Register" @*data-toggle="modal" data-target="#registerModal"*@>
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2"></i>
                                    Register
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>


                <div class="container">
                    <main role="main" class="pb-3">
                        <section id="index" class="d-flex align-items-md-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                                        <h1>Be in control wih Probis Issue Tracker</h1>
                                        <h3>Probis Issue Tracker is a Demo Issue Tracker Tool.</h3>
                                        <h3>This demo web application built with the ASP.Net Entity Framework using MVC design pattern.</h3>
                                        <div class="mt-4">
                                            <a class="btn btn-primary mr-3" href="/Account/Register">Register</a>
                                            <a class="btn btn-secondary" href="/Account/Login">Log in</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 order-1 order-lg-2 hero-img">
                                        <img src="~/Theme/img/network.png" class="img-fluid alt" />
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="container body-content">
                            @RenderBody()

                            
                            <footer>
                                <p>&copy; @DateTime.Now.Year - Police Department Application</p>
                            </footer>
                        </div>
                        @Scripts.Render("~/bundles/jquery")
                        @Scripts.Render("~/bundles/bootstrap")
                        @RenderSection("scripts", required: false)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Theme/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="~/Theme/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Theme/js/demo/chart-area-demo.js"></script>
    <script src="~/Theme/js/demo/chart-pie-demo.js"></script>

    <script src="~/Theme/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Theme/js/demo/datatables-demo.js"></script>




</body>
</html>

